<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class Time Capsule</title>
    <link rel="stylesheet" href="../styles/styles.css">
    
    <script src="../scripts/p5.min.js"></script>
    <script src="../scripts/effect.js"></script>
    <script src="../scripts/down.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/xp.css" />
</head>
<body>
	
    <main>
			
	    <div class="time-capsule-container window">

		    <div class="title-bar">
		            <div class="title-bar-text">
		              Remembering 12 <%= section %>.
		            </div>

				  <div class="title-bar-controls">
				    <button aria-label="Help"></button>
				    <button aria-label="Close"></button>
				  </div>
		          </div>
				
	        <header class="capsule-header">
	            <h1>Remembering 12 <%= section %>.</h1>
	            <p>Messages from our class, sealed to remember our shared memories and dreams for the future.</p>
	        </header>

	        <section class="messages-section">
	            <% messages.each do |message| %>
	                <div class="message-card hidden">
	                    <p><%= message[:content] %></p>
	                    <span class="date"><%= message[:name] %></span>
	                </div>
	            <% end %>
	        </section>
	    </div>
	    
	    
	    <div class="time-capsule-container window">

		    <div class="title-bar">
		            <div class="title-bar-text">
		              Image Gallery
		            </div>

				  <div class="title-bar-controls">
				    <button aria-label="Help"></button>
				    <button aria-label="Close"></button>
				  </div>
		          </div>
				
				
				<iframe src='https://drive.google.com/embeddedfolderview?id=<%= folder_ids["#{section}"]  %>#grid' style="width:100%; height:600px; border:0;"></iframe>
	        
	    </div>

	   </main>
</body>
</html>
